<meta http-equiv="Refresh" content="8;{% url 'products:download_status' %}?job={{ job_id }}&file={{ filename }}"/>
<title>Download</title>

Please wait for a moment to download. if download not start after the wait time. 
you can use this <a href="{% url 'products:download_status' %}?job={{ job_id }}&file={{ filename }}">direct link</a>

