{% extends "common/base.html" %}
{% load i18n %} 
{% load affiliate_extras %}
{% load product_tags %}
{% load bootstrap3 %}
{% load query_string %} 

{% block css %}
    {{ block.super }}
    <link href="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet"/>
{% endblock %}

{% block title %}
    {% trans 'Products' %} 
{% endblock title %}

{% block content %}
    <div class="jumbotron">
        {% if search_form.errors %}
            <div class="alert alert-error">
                <button type="button" class="close" data-dismiss="alert">×</button>
                {% for field in search_form %}
                    {% if field.errors %}
                    <li>{{ field.label }}: {{ field.errors|striptags }}</li>
                    {% endif %}
                {% endfor %}
            </div>
        {% endif %}
        <form method="GET" action=".">
          {% if website %}<input type="hidden" name="website" value="{{ website.id }}">{% endif %}
          {% if category %}<input type="hidden" name="category" value="{{ category }}">{% endif %}
          {% if price %}<input type="hidden" name="price" value="{{ price }}">{% endif %}
            <div class="form-group">
                {{ search_form.keywords.label_tag }}
                {{ search_form.keywords }}
            </div>
            <input type="submit" class="btn btn-primary" value="Search" />
        </form>
    </div>

    {% if request.user.is_staff %}
        <div class="row">
            <a href="{% url 'products:create' %}" class="btn btn-primary ">
               <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                {% trans 'Create Product' %}
            </a>
            <a href="{% url 'products:download' %}" target="_blank" class="btn btn-primary">
               <span class="glyphicon glyphicon-download" aria-hidden="true"></span>
               {% trans 'Download Data' %}
           </a>
        </div>
        <div class="clearfix">&nbsp;</div>
    {% endif %}

    <div class="row">
        <div class="col-md-9">
            <form action="." class="form-inline">
                {% bootstrap_field filter_form.website show_label=False %}
                {% bootstrap_field filter_form.category show_label=False %}
                {% bootstrap_field filter_form.price show_label=True %}
                <div class="form-group">
                    {% bootstrap_button "Filter" button_type="submit" button_class="btn-primary" icon='filter' %}
                </div>
            </form>
        </div>
    </div>

    {% if is_paginated %}
    <div class="row">
        <div class="col-md-12">
            <nav>
                <ul class="pager pull-right">
                    {% if page_obj.has_previous %}
                        <li>
                            <a href="?{% make_query_string page=page_obj.previous_page_number %}">Previous</a>
                        </li>
                    {% else %}
                        <li class="disabled"><a href="#">Previous</a></li>
                    {% endif %}

                    <li>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</li>

                    {% if page_obj.has_next %}
                        <li>
                            <a href="?{% make_query_string page=page_obj.next_page_number %}">Next</a>
                        </li>
                    {% else %}
                        <li class="disabled"><a href="#">Next</a></li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    {% endif %}
    </div>

    <div class="row x-overflow-auto">
        <table class="table table-bordered table-condensed">
            <thead>
                <tr>
                    <th>{% trans 'Metrics' %}</th>
                    <th>URL</th>
                    {% if request.user.is_staff %}
                        <th>ID</th>
                        <th><a href="{% url 'products:list' %}?sort=internalId&type={{ sort_type|switch_type }}{% if filter_ws %}&website_filter={{ filter_ws }}{% endif %}{%if keywords %}&keywords={{ keywords }}{% endif %}">internalId</a></th>
                    {% endif %}
                    <th><a href="{% url 'products:list' %}?{% if page_obj.number > 1 %}page={{ page_obj.number }}&{% endif %}sort=price&type={{ sort_type|switch_type }}{%if keywords %}&keywords={{ keywords }}{% endif %}{% if filter_ws %}&website_filter={{ filter_ws }}{% endif %}">{% trans 'Price' %}</a></th>
                    <th><a href="{% url 'products:list' %}?{% if page_obj.number > 1 %}page={{ page_obj.number }}&{% endif %}sort=stock&type={{ sort_type|switch_type }}{%if keywords %}&keywords={{ keywords }}{% endif %}{% if filter_ws %}&website_filter={{ filter_ws }}{% endif %}">{% trans 'Stocks' %}</a></th>
                    <th><a href="{% url 'products:list' %}?{% if page_obj.number > 1 %}page={{ page_obj.number }}&{% endif %}sort=sales&type={{ sort_type|switch_type }}{%if keywords %}&keywords={{ keywords }}{% endif %}{% if filter_ws %}&website_filter={{ filter_ws }}{% endif %}">{% trans 'Sales' %}</a></th>
                    <th><a href="{% url 'products:list' %}?{% if page_obj.number > 1 %}page={{ page_obj.number }}&{% endif %}sort=pageviews&type={{ sort_type|switch_type }}{%if keywords %}&keywords={{ keywords }}{% endif %}{% if filter_ws %}&website_filter={{ filter_ws }}{% endif %}">{% trans 'Page Views' %}</a></th>
                    <th><a href="{% url 'products:list' %}?{% if page_obj.number > 1 %}page={{ page_obj.number }}&{% endif %}sort=weight&type={{ sort_type|switch_type }}{%if keywords %}&keywords={{ keywords }}{% endif %}{% if filter_ws %}&website_filter={{ filter_ws }}{% endif %}">{% trans 'Weight' %}</a></th>
                    <th><a href="{% url 'products:list' %}?{% if page_obj.number > 1 %}page={{ page_obj.number }}&{% endif %}sort=sales_rate&type={{ sort_type|switch_type }}{%if keywords %}&keywords={{ keywords }}{% endif %}{% if filter_ws %}&website_filter={{ filter_ws }}{% endif %}">{% trans 'Sales Rate' %}</a></th>
                    <th>
                        <a href="{% url 'products:list' %}?{% if page_obj.number > 1 %}page={{ page_obj.number }}&{% endif %}sort=similar_products&type={{ sort_type|switch_type }}{%if keywords %}&keywords={{ keywords }}{% endif %}{% if filter_ws %}&website_filter={{ filter_ws }}{% endif %}">
                        {% trans 'Similar Products' %}</a>
                    </th>

                    <th>
                        <a href="{% url 'products:list' %}?{% if page_obj.number > 1 %}page={{ page_obj.number }}&{% endif %}sort=similar_products&type={{ sort_type|switch_type }}{%if keywords %}&keywords={{ keywords }}{% endif %}{% if filter_ws %}&website_filter={{ filter_ws }}{% endif %}">
                        {% trans 'Manual Similar Products' %}</a>
                    </th>

                    <th>
                        <a href="" title="Manual Similar Products update time">
                        Updated
                        </a>
                    </th>

                    <th><a href="{% url 'products:list' %}?{% if page_obj.number > 1 %}page={{ page_obj.number }}&{% endif %}sort=similar_image_products&type={{ sort_type|switch_type }}{%if keywords %}&keywords={{ keywords }}{% endif %}{% if filter_ws %}&website_filter={{ filter_ws }}{% endif %}">{% trans 'Similar Images Products' %}</a></th>
                    <th>In stock</th>
                    {% if request.user.is_staff %}
                        <th>{% trans 'Update' %}</th>
                        <th>{% trans 'Delete' %}</th>
                        <th>Visitor status</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for product in products %}
                    <tr>
                        <td>[<a href="{% url 'products:product-metrics' product.id %}">{% trans 'View' %}</a>]</td>
                        <td><a href='{{ product.url}}'>{{ product.url }}</a></td>
                        {% if request.user.is_staff %}
                            <td>{{ product.id }}</td>
                            <td>{{ product.internalId }}</td>
                        {% endif %}
                        <td>{{ product.price }}</td>
                        <td>{{ product.stock }}</td>
                        <td>{{ product.sales }}</td>
                        <td>{{ product.pageviews }}</td>
                        <td>{{ product.weight }}</td>
                        <td>{{ product.sales_rate|floatformat:3 }}</td>
                        <td>
                            <a href="{% url 'products:product-similar' product.id %}">
                                {{ product.similar_products_num }}
                            </a>
                        </td>
                        <td>
                            {% if request.user.is_staff %}
                                <a class="editable editable-click js-manual-similar-products" 
                                    href="#"
                                    data-pk="{{ product.id }}"
                                    data-url="{% url 'products:update' product.id %}"
                                    data-type="text"
                                    data-name="manual_similar_products_num">
                            {% else %}
                                <a href="">
                            {% endif %}
                                {{ product.manual_similar_products_num }}
                            </a>
                        </td>
                        <td>{{ product.updated|date:"d/m/y H:i" }}</td>
                        <td>
                            <a href="{% url 'products:product-similar-images' product.id %}">
                                {{ product.similar_image_products_num }}
                            </a>
                        </td>
                        <td>
                          {% if product.in_stock %}
                          &#9989;
                          {% else %}
                          &#10060;
                          {% endif %}
                        </td>
                        {% if request.user.is_staff %}
                            <td>{% if request.user.is_authenticated %}<a href="{% url 'products:update' product.id %}">{% trans 'Update' %}</a>{% else %}-{% endif %}</td>
                            <td>{% if request.user.is_authenticated %}<a href="{% url 'products:delete' product.id %}">{% trans 'Delete' %}</a>{% else %}-{% endif %} </td>
                            <td>
                                <a href="{% url 'products:visitor-status' product.id %}">List visitor status</a>
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="jumbotron">
        {% if form.errors %}
            <div class="alert alert-error">
                <button type="button" class="close" data-dismiss="alert">×</button>
                {% for field in form %}
                    {% if field.errors %}
                    <li>{{ field.label }}: {{ field.errors|striptags }}</li>
                    {% endif %}
                {% endfor %}
            </div>
        {% endif %}
        <form method="POST" action=".">
            {% csrf_token %}
            <div class="form-group">
                {{ form.feedback.label_tag }}
                {{ form.feedback }}
            </div>
            <input type="submit" class="btn btn-primary" value="Submit" />
        </form>
    </div>

{% endblock %}

{% block javascript %}
    {{ block.super }}
    {# <script src="//cdnjs.cloudflare.com/ajax/libs/eldarion-ajax/0.12.0/eldarion-ajax.min.js"></script> #}
    <script src="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/js/bootstrap-editable.min.js"></script>
{% endblock %}

