{% extends "common/base.html" %}
{% load i18n %}

{% block content %}
    {% if is_paginated %}
      <div class="pagination">
          <span class="page-links">
              {% if page_obj.has_previous %}
                  <a href="/products/metrics?page={{ page_obj.previous_page_number }}">previous</a>
              {% endif %}
              <span class="page-current">
                  Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
              </span>
              {% if page_obj.has_next %}
                  <a href="/products/metrics?page={{ page_obj.next_page_number }}">next</a>
              {% endif %}
          </span>
      </div>
    {% endif %}

    {% for product in products %}
        <table class="table table-bordered">
            <caption>
                <strong>{{ product.title }}</strong><br />
                <a href="{{ product.url }}" target="_blank">{{ product.url }}</a>
            </caption>
            <thead>
                <tr>
                    <th>{% trans 'Timestamp' %}</th>
                    <th>{% trans 'Price' %}</th>
                    <th>{% trans 'Page Views' %}</th>
                    <th>{% trans 'Likes' %}</th>
                    <th>{% trans 'Sales' %}</th>
                </tr>
            </thead>
            <tbody>
                {% for metric in product.metrics.all %}
                    <tr>
                        <td>{{ metric.timestamp }}</td>
                        <td>{{ metric.price }}</td>
                        <td>{{ metric.pageviews }}</td>
                        <td>{{ metric.likes }}</td>
                        <td>{{ metric.sales }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="clearfix">&nbsp;</div>
    {% endfor %}
{% endblock content %}
