{% extends "common/base.html" %}
{% load i18n %}

{% block content %}
    <table class="table table-bordered">
            <caption>
                <strong>{{ product.title }}</strong>
                {% if product.category %}
                    from category {{ product.category }}
                {% endif %}    
                <br />

                <a href="{{ product.url }}" target="_blank">{{ product.url }}</a>
            </caption>
        <thead>
            <tr>
                <th>Timestamp</th>
                <th>{% trans 'Price' %}</th>
                <th>{% trans 'Page Views' %}</th>
                <th>{% trans 'Likes' %}</th>
                <th>{% trans 'Sales' %}</th>
                <th>{% trans 'Weight' %}</th>
                <th>CompetitorNumber</th>
                {% if request.user.is_staff %}
                    <th>{% trans 'Update' %}</th>
                    <th>{% trans 'Delete' %}</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for metric in metrics %}
                <tr>
                    <td>{{ metric.timestamp }}</td>
                    <td>{{ metric.price }}</td>
                    <td>{{ metric.pageviews }}</td>
                    <td>{{ metric.likes }}</td>
                    <td>{{ metric.sales }}</td>
                    <td>{{ metric.weight|floatformat:2 }}</td>
                    <td>{{ metric.competitornumber }}</td>
                    {% if request.user.is_staff %}
                        <td> <a href="{% url 'products:update-metrics' metric.id %}">{% trans 'Update' %}</a> </td>
                        <td> <a href="{% url 'products:delete-metrics' metric.id %}">{% trans 'Delete' %}</a> </td>
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <a href="javascript:void(0);" id="similar-banner"><img src="{{ STATIC_URL }}" alt="similar products"></a>
      </div>
    </div>
{% endblock content %}

{% block extra_js %}

  <script type="text/javascript" charset="utf-8">
    $(document).ready(function () {
      $('#similar-banner').on('click', function() {
        console.log("Similar product");
        ga('send', 'event', 'product', 'click', 'similar product');
      });
    });
  </script>
{% endblock %}
