{% extends "common/base.html" %}
{% load i18n %}

{% block content %}
    <table class="table table-bordered">
        <caption><a href="{{ object.url }}">{{ object.title }}</a></caption>
        <thead>
            <tr>
                <th>Title</th>
                <th>Url</th>
            </tr>
        </thead>
        <tbody>
            {% for p in product.similar_image_products.all %}
                <tr>
                    <td>{{ p.title }}</td>
                    <td><a href='{{ p.url}}'>{{ p.url }}</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}
