{% extends "common/base.html" %}
{% load i18n %}

{% block title %}{% trans "Visitor Status" %}{% endblock title %}
{% block content %}
<h1>{% trans "Visitor Status" %}</h1>

<form action="." method="POST">
  {% csrf_token %}
  <table class="table">
    <thead>
      <tr>
        <td>{% trans "IP" %}</td>
        <td>{% trans "Visit time" %}</td>
        <td>{% trans "Is Order" %}</td>
        {%if request.user.is_staff%}
        <td>{% trans "order mail id" %}</td>
        <td>{% trans "order mail date" %}</td>
          <td>{% trans "Delete" %}</td>
        {%endif%}
      </tr>
    </thead>
    {% for visitorStatus in visitorStatuses%}
    <tr>
      <td>{{ visitorStatus.ip }}</td>
      <td>{{ visitorStatus.time }}</td>
      <td>{{ visitorStatus.isOrder }}</td>
      {%if request.user.is_staff%}
      <td>{{ visitorStatus.orderMailId }}</td>
      <td>{{ visitorStatus.orderMailDate }}</td>
        <td>
          <a href="/products/VisitorStatus/Delete/{{visitorStatus.id}}/next={{ request.get_full_path|urlencode }}/">{% trans 'Delete' %}</a>
        </td>
      {%endif%}
    </tr>
    {% endfor %}
  </table>
</form>
{% endblock content %}
