{% extends "admin/base_site.html" %}
{% load i18n admin_urls admin_static admin_modify %}

{% block extrahead %}{{ block.super }}
<script type="text/javascript" src="{% url 'admin:jsi18n' %}"></script>
{{ media }}
{% endblock %}

{% block title %}Execute Scrapy Command{% endblock %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}" />{% endblock %}

{% block coltype %}colM{% endblock %}

{% block content %}
    <div id="content-main">
        <form method="POST">
            {% csrf_token %}
            <table class="table">
                <tbody>
                    {{ form.as_table }}
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="2">
                            <input type="submit" value="Execute Crawler" class="default" />
                        </td>
                    </tr>
                </tfoot>
            </table>
        </form>
    </div>
{% endblock %}
