{% extends "common/base.html" %}
{% load i18n static %}

{% block title %}Tenants{% endblock title %}

{% block content %}
    <div class="row">
        <form method="POST" action=".">
            {% csrf_token %}
            <table class="table">
                <thead>
                    <tr class="info">
                        <th scope="row">Current Tenant</th>
                        <td>{{ request.tenant.schema_name }}</td>
                    </tr>
                </thead>
                <tbody>
                    {% if tenants.exists %}
                        <tr class="success">
                            <th colspan="2" class="text-center">Available Tenants</th>
                        </tr>
                    {% endif %}
                    {% for tenant in tenants %}
                        <tr>
                            <td colspan="2" class="text-center">
                                <a href="http{% if request.is_secure %}s{% endif %}://{{ tenant.domains.first.domain }}{% if not tenant.schema_name == "public" %}/products/{% endif %}">{{ tenant.schema_name }}</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr colspan="2">
                        <td><a href="{% url 'tenants:create' %}" class="btn btn-primary">Create New Tenant</a></td>
                    </tr>
                </tfoot>
            </table>
        </form>
    </div>

{% endblock %}

{% block extra_js %}
    <script type="text/javascript" src="{% static 'ecmanager/select_and_populate.js' %}"></script>
{% endblock %}
