{% extends "common/base.html" %}
{% load i18n %} 
{% load affiliate_extras %}
{% load product_tags %}
{% load bootstrap3 %}
{% load query_string %} 

{% block css %}
    {{ block.super }}
    <link href="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet"/>
{% endblock %}

{% block title %}
    {% trans 'Crawlers' %} 
{% endblock title %}

{% block content %}
<div class="row">
    <div class="panel panel-default">
      <!-- Default panel contents -->
        <div class="panel-heading">Open spiders</div>
            <table class="table table-bordered table-condensed">
                <thead>
                    <tr>
                        <th>Spider reference</th>
                        <th>Started</th>
                    </tr>
                </thead>
                <tbody>
                    {% for spider in open_spider_list %}
                        <tr>
                            <td><a href='#'>{{ spider }}</a></td>
                            <td></td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td><a href='#'>No one spider is running.</a></td>
                            <td></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% comment %}


    <div class="panel panel-default">
      <!-- Default panel contents -->
        <div class="panel-heading">Available spiders</div>
            <table class="table table-bordered table-condensed">
                <thead>
                    <tr>
                        <th>Spider reference</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for spider in available_spider_list %}
                        <tr>
                            <td><a href='#'>{{ spider }}</a></td>
                            <td></td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td><a href='#'>There is no available spider.</a></td>
                            <td></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endcomment %}
{% endblock %}

{% block javascript %}
    {{ block.super }}
    {# <script src="//cdnjs.cloudflare.com/ajax/libs/eldarion-ajax/0.12.0/eldarion-ajax.min.js"></script> #}
{% endblock %}

