{% extends "common/base.html" %}
{% load i18n %} 
{% load affiliate_extras %}
{% load product_tags %}
{% load bootstrap3 %}
{% load query_string %} 

{% block css %}
    {{ block.super }}
    <link href="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet"/>
{% endblock %}

{% block title %}
    {% trans 'Products selling speed' %} 
{% endblock title %}

{% block content %}
<div class="row">
    <div class="panel panel-default">
      <!-- Default panel contents -->
        <div class="panel-heading">Sold products</div>
            <table class="table table-bordered table-condensed">
                <thead>
                    <tr>
                        <th>Product</th>
                        <th>Website</th>
                        <th>Selling speed</th>
                    </tr>
                </thead>
                <tbody>
                    {% for product in ownproduct_list %}
                        <tr>
                            <td>
                                {% if product.has_valid_url %}
                                    <a target="_blank" href="{{ product.url }}">{{ product }}</a>
                                {% else %}
                                    {{ product }}
                                {% endif %}
                            </td>
                            <td>{{ product.website }}</td>
                            <td>{{ product.selling_speed }}</td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td><a href='#'>No one product was sold.</a></td>
                            <td></td>
                            <td></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}

{% block javascript %}
    {{ block.super }}
    {# <script src="//cdnjs.cloudflare.com/ajax/libs/eldarion-ajax/0.12.0/eldarion-ajax.min.js"></script> #}
{% endblock %}

