<div dir="ltr"><br><div class="gmail_quote">---------- Forwarded message ----------<br>From: <b class="gmail_sendername">Bukalapak.com</b> <span dir="ltr">&lt;<a href="mailto:mail@noreply.bukalapak.com">mail@noreply.bukalapak.com</a>&gt;</span><br>Date: Wed, Feb 10, 2016 at 8:07 AM<br>Subject: Pesanan Baru! Segera kirim dan masukkan nomor resi sebelum 4 hari - 160254445338 - [Bukalapak]<br>To: <a href="mailto:ec.south.asia@gmail.com">ec.south.asia@gmail.com</a><br><br><br><u></u>







<div marginheight="0" marginwidth="0" style="background:#f8f8f8;margin:0;padding:0;width:100%!important" bgcolor="#f8f8f8">


<center style="display:block;text-align:center">
<table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" style="border-collapse:collapse;border-spacing:0;margin:0;padding:0">
<tbody><tr>
<td style="border-collapse:collapse;border-spacing:0;color:#999;font-family:&#39;Arial&#39;,sans-serif;line-height:1.5;margin:0;padding:0">
<table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse:collapse;border-spacing:0;margin:0 auto;padding:0">
<tbody><tr>
<td align="left" style="border-collapse:collapse;border-spacing:0;color:#999;font-family:&#39;Arial&#39;,sans-serif;line-height:1.5;margin:0;padding:0">
<table width="100%" style="border-collapse:collapse;border-spacing:0;margin:0;padding:0">
<tbody><tr>
<td height="20" width="15" style="border-collapse:collapse;border-spacing:0;color:#999;font-family:&#39;Arial&#39;,sans-serif;line-height:1.5;margin:0;padding:0"></td>
<td height="20" width="550" style="border-collapse:collapse;border-spacing:0;color:#999;font-family:&#39;Arial&#39;,sans-serif;line-height:1.5;margin:0;padding:0"></td>
<td height="20" width="15" style="border-collapse:collapse;border-spacing:0;color:#999;font-family:&#39;Arial&#39;,sans-serif;line-height:1.5;margin:0;padding:0"></td>
</tr>
<tr>
<td width="15" style="border-collapse:collapse;border-spacing:0;color:#999;font-family:&#39;Arial&#39;,sans-serif;line-height:1.5;margin:0;padding:0"></td>
<td width="550" style="border-collapse:collapse;border-spacing:0;color:#999;font-family:&#39;Arial&#39;,sans-serif;line-height:1.5;margin:0;padding:0">
<img src="https://www.bukalapak.com/images/mailer/simplify_template/logo.png" style="border:0 none;min-height:53px;line-height:100%;outline:none;text-decoration:none;width:166px">
</td>
<td width="15" style="border-collapse:collapse;border-spacing:0;color:#999;font-family:&#39;Arial&#39;,sans-serif;line-height:1.5;margin:0;padding:0"></td>
</tr>
<tr>
<td height="30" width="15" style="border-collapse:collapse;border-spacing:0;color:#999;font-family:&#39;Arial&#39;,sans-serif;line-height:1.5;margin:0;padding:0"></td>
<td height="30" width="550" style="border-collapse:collapse;border-spacing:0;color:#999;font-family:&#39;Arial&#39;,sans-serif;line-height:1.5;margin:0;padding:0"></td>
<td height="30" width="15" style="border-collapse:collapse;border-spacing:0;color:#999;font-family:&#39;Arial&#39;,sans-serif;line-height:1.5;margin:0;padding:0"></td>
</tr>
</tbody></table>

</td>
</tr>
<tr>
<td bgcolor="#ffffff" style="border-collapse:collapse;border-spacing:0;color:#999;font-family:&#39;Arial&#39;,sans-serif;line-height:1.5;margin:0;padding:0">
<table align="left" width="100%" style="border-collapse:collapse;border-spacing:0;margin:0;padding:0">
<tbody><tr>
<td height="20" width="15" style="border-collapse:collapse;border-spacing:0;color:#999;font-family:&#39;Arial&#39;,sans-serif;line-height:1.5;margin:0;padding:0"></td>
<td height="20" width="550" style="border-collapse:collapse;border-spacing:0;color:#999;font-family:&#39;Arial&#39;,sans-serif;line-height:1.5;margin:0;padding:0"></td>
<td height="20" width="15" style="border-collapse:collapse;border-spacing:0;color:#999;font-family:&#39;Arial&#39;,sans-serif;line-height:1.5;margin:0;padding:0"></td>
</tr>
<tr>
<td width="15" style="border-collapse:collapse;border-spacing:0;color:#999;font-family:&#39;Arial&#39;,sans-serif;line-height:1.5;margin:0;padding:0"></td>
<td align="left" width="550" style="border-collapse:collapse;border-spacing:0;color:#999;font-family:&#39;Arial&#39;,sans-serif;line-height:1.5;margin:0;padding:0">
<table align="left" width="100%" style="border-collapse:collapse;border-spacing:0;margin:0;padding:0">
<tbody><tr>
<td style="border-collapse:collapse;border-spacing:0;color:#999;font-family:&#39;Arial&#39;,sans-serif;line-height:1.5;margin:0;padding:0">
<div>
<div style="margin:5px 2px">
<p style="color:#555;font-family:&#39;Arial&#39;,sans-serif;font-size:14px;line-height:1.5;margin:0;padding:0">
Dear Car Camera Shop,
</p>
</div>
</div>
<div>
<div style="margin:5px 2px">
<p style="color:#555;font-family:&#39;Arial&#39;,sans-serif;font-size:14px;line-height:1.5;margin:0;padding:0">Bukalapak.com <strong style="color:#555;font-size:14px">telah menerima pembayaran</strong> untuk transaksi berikut</p>
</div>
<table border="0" cellpadding="5" cellspacing="0" width="100%" style="background:#ffffff;border-collapse:collapse;border-spacing:0;border:1px solid #cccccc;font-size:12px;margin:0 0 25px;padding:0" bgcolor="#FFFFFF">
<tbody><tr>
<th colspan="3" style="background:#900135;border-color:#900135;border-style:solid solid none;border-width:1px;color:#ffffff;padding-left:10px;padding-right:10px" bgcolor="#900135">
<h2 style="color:#ffffff;font-family:&#39;Arial&#39;,sans-serif;font-size:14px;line-height:1.5;margin:0;padding:5px 0">Transaksi #<a href="http://mandrillapp.com/track/click/30624249/www.bukalapak.com?p=eyJzIjoiQzJTSDJycUt3Rk1iZjhqVUtkY3hwX2ZUMjdJIiwidiI6MSwicCI6IntcInVcIjozMDYyNDI0OSxcInZcIjoxLFwidXJsXCI6XCJodHRwczpcXFwvXFxcL3d3dy5idWthbGFwYWsuY29tXFxcL3BheW1lbnRcXFwvdHJhbnNhY3Rpb25zXFxcLzI1NDQ0NTMzOFwiLFwiaWRcIjpcIjE4MDBkYWVmY2VjZTQyMDI4ZTMzY2E4NjU3MmZlZWQ1XCIsXCJ1cmxfaWRzXCI6W1wiY2Y0OWZjZGJiNWUxODlkYzRmYWRiOWEzZDI4MDlhNTU0OTVlZTU1N1wiXX0ifQ" style="color:#ffffff!important;font-family:&#39;Arial&#39;,sans-serif;font-size:14px;line-height:1.5;margin:0;padding:0;text-decoration:none" target="_blank">160254445338</a>
</h2>
</th>
</tr>
<tr>
<td align="left" colspan="2" valign="top" style="background:#ffffff;border-collapse:collapse;border-spacing:0;border:1px solid #cccccc;color:#555;font-family:&#39;Arial&#39;,sans-serif;line-height:1.5;margin:0;padding:5px 10px" bgcolor="#FFFFFF">
Waktu Transaksi
</td>
<td align="left" valign="top" style="background:#ffffff;border-collapse:collapse;border-spacing:0;border:1px solid #cccccc;color:#555;font-family:&#39;Arial&#39;,sans-serif;line-height:1.5;margin:0;padding:5px 10px" bgcolor="#FFFFFF">
<strong style="color:#555;font-size:14px">10 Februari 2016 06.07 WIB</strong>
</td>
</tr>
<tr>
<td align="left" colspan="2" valign="top" style="background:#ffffff;border-collapse:collapse;border-spacing:0;border:1px solid #cccccc;color:#555;font-family:&#39;Arial&#39;,sans-serif;line-height:1.5;margin:0;padding:5px 10px" bgcolor="#FFFFFF">
Pembeli
</td>
<td align="left" valign="top" style="background:#ffffff;border-collapse:collapse;border-spacing:0;border:1px solid #cccccc;color:#555;font-family:&#39;Arial&#39;,sans-serif;line-height:1.5;margin:0;padding:5px 10px" bgcolor="#FFFFFF">
<strong style="color:#555;font-size:14px"><a href="http://mandrillapp.com/track/click/30624249/www.bukalapak.com?p=eyJzIjoiYzRzSGxQWTI4ckl0OHVHU2FyZDRQODZiT1A4IiwidiI6MSwicCI6IntcInVcIjozMDYyNDI0OSxcInZcIjoxLFwidXJsXCI6XCJodHRwczpcXFwvXFxcL3d3dy5idWthbGFwYWsuY29tXFxcL2RpZGlfbW9yYWdhXCIsXCJpZFwiOlwiMTgwMGRhZWZjZWNlNDIwMjhlMzNjYTg2NTcyZmVlZDVcIixcInVybF9pZHNcIjpbXCJlNGY0ODliOTQyYjAwMGM1OTMzZjU5OGNiNjYyNzhmODAzZjBkNjYzXCJdfSJ9" style="color:#a30046!important;font-family:&#39;Arial&#39;,sans-serif;font-size:14px;line-height:1.5;margin:0;padding:0;text-decoration:none" target="_blank">Didi Moraga</a></strong>
</td>
</tr>
<tr>
<td align="left" colspan="2" valign="top" style="background:#ffffff;border-collapse:collapse;border-spacing:0;border:1px solid #cccccc;color:#555;font-family:&#39;Arial&#39;,sans-serif;line-height:1.5;margin:0;padding:5px 10px" bgcolor="#FFFFFF">
Pelapak
</td>
<td align="left" valign="top" style="background:#ffffff;border-collapse:collapse;border-spacing:0;border:1px solid #cccccc;color:#555;font-family:&#39;Arial&#39;,sans-serif;line-height:1.5;margin:0;padding:5px 10px" bgcolor="#FFFFFF">
<strong style="color:#555;font-size:14px"><a href="http://mandrillapp.com/track/click/30624249/www.bukalapak.com?p=eyJzIjoiN01DdUVGWWxpUFNQNUxMcG1yM3Y0bTc1eWlrIiwidiI6MSwicCI6IntcInVcIjozMDYyNDI0OSxcInZcIjoxLFwidXJsXCI6XCJodHRwczpcXFwvXFxcL3d3dy5idWthbGFwYWsuY29tXFxcL2NhcmNhbWVyYVwiLFwiaWRcIjpcIjE4MDBkYWVmY2VjZTQyMDI4ZTMzY2E4NjU3MmZlZWQ1XCIsXCJ1cmxfaWRzXCI6W1wiZTRmNDg5Yjk0MmIwMDBjNTkzM2Y1OThjYjY2Mjc4ZjgwM2YwZDY2M1wiXX0ifQ" style="color:#a30046!important;font-family:&#39;Arial&#39;,sans-serif;font-size:14px;line-height:1.5;margin:0;padding:0;text-decoration:none" target="_blank">Car Camera Shop</a></strong>
</td>
</tr>
<tr>
<td align="left" colspan="2" valign="top" style="background:#ffffff;border-collapse:collapse;border-spacing:0;border:1px solid #cccccc;color:#555;font-family:&#39;Arial&#39;,sans-serif;line-height:1.5;margin:0;padding:5px 10px" bgcolor="#FFFFFF">
Kurir Pilihan
</td>
<td align="left" valign="top" style="background:#ffffff;border-collapse:collapse;border-spacing:0;border:1px solid #cccccc;color:#555;font-family:&#39;Arial&#39;,sans-serif;line-height:1.5;margin:0;padding:5px 10px" bgcolor="#FFFFFF">
<strong style="color:#555;font-size:14px">JNE REG</strong>
</td>
</tr>
<tr>
<td colspan="3" style="background:#ffffff;border-collapse:collapse;border-spacing:0;border:1px solid #cccccc;color:#555;font-family:&#39;Arial&#39;,sans-serif;line-height:1.5;margin:0;padding:5px 10px" bgcolor="#FFFFFF">
<p style="color:#555;font-family:&#39;Arial&#39;,sans-serif;font-size:14px;line-height:1.5;margin:0;padding:0">Catatan Pembeli</p>
<p style="color:#555;font-family:&#39;Arial&#39;,sans-serif;font-size:14px;line-height:1.5;margin:0;padding:0">warna tosca</p>
</td>
</tr>
<tr>
<th colspan="3" style="background:#900135;border-color:#900135;border-style:solid solid none;border-width:1px;color:#ffffff;padding-left:10px;padding-right:10px" bgcolor="#900135"></th>
</tr>
<tr>
<td align="center" valign="top" width="25%" style="background:#f0f0f0;border-collapse:collapse;border-spacing:0;border:1px solid #cccccc;color:#555;font-family:&#39;Arial&#39;,sans-serif;font-size:11px;line-height:1.5;margin:0;padding:5px 10px" bgcolor="#F0F0F0">
<strong style="color:#555;font-size:14px">Nama</strong>
</td>
<td align="center" valign="top" width="10%" style="background:#f0f0f0;border-collapse:collapse;border-spacing:0;border:1px solid #cccccc;color:#555;font-family:&#39;Arial&#39;,sans-serif;font-size:11px;line-height:1.5;margin:0;padding:5px 10px" bgcolor="#F0F0F0">
Jumlah
</td>
<td align="right" valign="top" width="25%" style="background:#f0f0f0;border-collapse:collapse;border-spacing:0;border:1px solid #cccccc;color:#555;font-family:&#39;Arial&#39;,sans-serif;font-size:11px;line-height:1.5;margin:0;padding:5px 10px" bgcolor="#F0F0F0">
<strong style="color:#555;font-size:14px">Harga</strong>
</td>
</tr>
<tr>
<td align="left" valign="middle" width="25%" style="background:#ffffff;border-collapse:collapse;border-spacing:0;border:1px solid #cccccc;color:#555;font-family:&#39;Arial&#39;,sans-serif;line-height:1.5;margin:0;padding:5px 10px" bgcolor="#FFFFFF">
<a href="http://mandrillapp.com/track/click/30624249/www.bukalapak.com?p=eyJzIjoiekVBUzBFZFF5cWFuY0F3Ml9ucUQxMk1EbEJRIiwidiI6MSwicCI6IntcInVcIjozMDYyNDI0OSxcInZcIjoxLFwidXJsXCI6XCJodHRwczpcXFwvXFxcL3d3dy5idWthbGFwYWsuY29tXFxcL3Byb2R1Y3RzXFxcL2psY2F4LWp1YWwtb2VtLXNhbXN1bmctb2ZmaWNpYWwtZWxlZ2FudC1jb3Zlci1nYWxheHktdGFiLXMtOC00LXQ3MDAtdDcwNVwiLFwiaWRcIjpcIjE4MDBkYWVmY2VjZTQyMDI4ZTMzY2E4NjU3MmZlZWQ1XCIsXCJ1cmxfaWRzXCI6W1wiZWU3MWJmMmQ1ZDFhMTg1OGQzZjFhMmY2YmM2ZWI3MDM0ZTFmMWViNFwiXX0ifQ" style="color:#a30046!important;font-family:&#39;Arial&#39;,sans-serif;font-size:14px;font-weight:bold;line-height:1.5;margin:0;padding:0;text-decoration:none" title="OEM SAMSUNG official elegant cover Galaxy Tab S 8.4 T700/T705." target="_blank">
OEM SAMSUNG official elegant cover Galaxy Tab S...
</a>
</td>
<td align="center" valign="middle" width="10%" style="background:#ffffff;border-collapse:collapse;border-spacing:0;border:1px solid #cccccc;color:#555;font-family:&#39;Arial&#39;,sans-serif;line-height:1.5;margin:0;padding:5px 10px" bgcolor="#FFFFFF">
1
</td>
<td align="right" valign="middle" width="25%" style="background:#ffffff;border-collapse:collapse;border-spacing:0;border:1px solid #cccccc;color:#555;font-family:&#39;Arial&#39;,sans-serif;line-height:1.5;margin:0;padding:5px 10px" bgcolor="#FFFFFF">
<strong style="color:#555;font-size:14px">
<span style="color:#555;font-family:&#39;Arial&#39;,sans-serif;font-size:14px;line-height:1.5;margin:0;padding:0">Rp</span><span style="color:#555;font-family:&#39;Arial&#39;,sans-serif;font-size:14px;line-height:1.5;margin:0;padding:0">132.000</span>
</strong>
</td>
</tr>
<tr>
<td align="left" colspan="2" valign="top" style="background:#ffffff;border-collapse:collapse;border-spacing:0;border:1px solid #cccccc;color:#555;font-family:&#39;Arial&#39;,sans-serif;line-height:1.5;margin:0;padding:5px 10px" bgcolor="#FFFFFF">
Total Harga Barang
</td>
<td align="right" valign="top" width="25%" style="background:#ffffff;border-collapse:collapse;border-spacing:0;border:1px solid #cccccc;color:#555;font-family:&#39;Arial&#39;,sans-serif;line-height:1.5;margin:0;padding:5px 10px" bgcolor="#FFFFFF">
<strong style="color:#555;font-size:14px"><span style="color:#555;font-family:&#39;Arial&#39;,sans-serif;font-size:14px;line-height:1.5;margin:0;padding:0">Rp</span><span style="color:#555;font-family:&#39;Arial&#39;,sans-serif;font-size:14px;line-height:1.5;margin:0;padding:0">132.000</span></strong>
</td>
</tr>
<tr>
<td align="left" colspan="2" valign="top" style="background:#ffffff;border-collapse:collapse;border-spacing:0;border:1px solid #cccccc;color:#555;font-family:&#39;Arial&#39;,sans-serif;line-height:1.5;margin:0;padding:5px 10px" bgcolor="#FFFFFF">
Biaya Kirim
</td>
<td align="right" valign="top" width="25%" style="background:#ffffff;border-collapse:collapse;border-spacing:0;border:1px solid #cccccc;color:#555;font-family:&#39;Arial&#39;,sans-serif;line-height:1.5;margin:0;padding:5px 10px" bgcolor="#FFFFFF">
<strong style="color:#555;font-size:14px"><span style="color:#555;font-family:&#39;Arial&#39;,sans-serif;font-size:14px;line-height:1.5;margin:0;padding:0">Rp</span><span style="color:#555;font-family:&#39;Arial&#39;,sans-serif;font-size:14px;line-height:1.5;margin:0;padding:0">9.000</span></strong>
</td>
</tr>
<tr>
<td align="left" colspan="2" valign="top" style="background:#ffffff;border-collapse:collapse;border-spacing:0;border:1px solid #cccccc;color:#555;font-family:&#39;Arial&#39;,sans-serif;line-height:1.5;margin:0;padding:5px 10px" bgcolor="#FFFFFF">
<strong style="color:#555;font-size:14px">TOTAL PEMBAYARAN</strong>
</td>
<td align="right" valign="top" width="25%" style="background:#ffffff;border-collapse:collapse;border-spacing:0;border:1px solid #cccccc;color:#555;font-family:&#39;Arial&#39;,sans-serif;line-height:1.5;margin:0;padding:5px 10px" bgcolor="#FFFFFF">
<strong style="color:#555;font-size:14px"><span style="color:#555;font-family:&#39;Arial&#39;,sans-serif;font-size:14px;line-height:1.5;margin:0;padding:0">Rp</span><span style="color:#555;font-family:&#39;Arial&#39;,sans-serif;font-size:14px;line-height:1.5;margin:0;padding:0">141.000</span></strong>
</td>
</tr>
</tbody></table>

</div>
<div>
<div style="margin:5px 2px">
<p style="color:#555;font-family:&#39;Arial&#39;,sans-serif;font-size:14px;line-height:1.5;margin:0;padding:0">
Segera kirim pesanan tersebut ke alamat berikut
</p>
<strong style="color:#555;font-size:14px">
odie hamonangan
<br>
PT. Smart Tbk
Plaza Sinarmas Land Menara II Lantai 32, Jl. MH Thamrin No. 51
<br>
Menteng  Jakarta Pusat
<br>
DKI Jakarta – 10350
<br>
No. Telp: 087877477484
</strong>
<br>
<br>
</div>
<div style="margin:5px 2px">
<p style="color:#555;font-family:&#39;Arial&#39;,sans-serif;font-size:14px;line-height:1.5;margin:0;padding:0"><strong style="color:#555;font-size:14px">Lakukan <a href="http://mandrillapp.com/track/click/30624249/www.bukalapak.com?p=eyJzIjoiQkVmb0hENXAwRms5VWNSWnhjUWJ1aE4xcEpJIiwidiI6MSwicCI6IntcInVcIjozMDYyNDI0OSxcInZcIjoxLFwidXJsXCI6XCJodHRwczpcXFwvXFxcL3d3dy5idWthbGFwYWsuY29tXFxcL3BheW1lbnRcXFwvc2hpcHBpbmdzXFxcL25ldz90cmFuc2FjdGlvbl9pZD0yNTQ0NDUzMzhcIixcImlkXCI6XCIxODAwZGFlZmNlY2U0MjAyOGUzM2NhODY1NzJmZWVkNVwiLFwidXJsX2lkc1wiOltcImU0ZjQ4OWI5NDJiMDAwYzU5MzNmNTk4Y2I2NjI3OGY4MDNmMGQ2NjNcIl19In0" style="color:#a30046!important;font-family:&#39;Arial&#39;,sans-serif;font-size:14px;line-height:1.5;margin:0;padding:0;text-decoration:none" target="_blank">Konfirmasi Pengiriman</a> disertai nomor resi yang valid sebelum 14 Februari 2016, pukul 06.07 WIB</strong>. Jika Anda tidak mengirim pesanan dalam jangka waktu tersebut, maka Anda akan mendapatkan <strong style="color:#555;font-size:14px">feedback negatif dan reputasi tolak pesanan</strong>, <strong style="color:#555;font-size:14px">transaksi akan dibatalkan</strong>, serta <strong style="color:#555;font-size:14px">uang akan dikembalikan kepada pembeli</strong>.</p>

<br>
<br>
<div style="background:#f4f4f4;padding-bottom:20px;padding-top:20px">
<a href="http://mandrillapp.com/track/click/30624249/www.bukalapak.com?p=eyJzIjoiQkVmb0hENXAwRms5VWNSWnhjUWJ1aE4xcEpJIiwidiI6MSwicCI6IntcInVcIjozMDYyNDI0OSxcInZcIjoxLFwidXJsXCI6XCJodHRwczpcXFwvXFxcL3d3dy5idWthbGFwYWsuY29tXFxcL3BheW1lbnRcXFwvc2hpcHBpbmdzXFxcL25ldz90cmFuc2FjdGlvbl9pZD0yNTQ0NDUzMzhcIixcImlkXCI6XCIxODAwZGFlZmNlY2U0MjAyOGUzM2NhODY1NzJmZWVkNVwiLFwidXJsX2lkc1wiOltcImU0ZjQ4OWI5NDJiMDAwYzU5MzNmNTk4Y2I2NjI3OGY4MDNmMGQ2NjNcIl19In0" style="background:#a30046;clear:both;color:#ffffff!important;display:block;font-family:&#39;Arial&#39;,sans-serif;font-size:14px;line-height:1.5;margin:0 auto;padding:10px 0;text-align:center;text-decoration:none!important;width:50%" target="_blank">Konfirmasi Pengiriman</a>
</div>
</div>
<div style="margin:50px 2px 30px">
<p style="color:#555;font-family:&#39;Arial&#39;,sans-serif;font-size:14px;line-height:1.5;margin:0;padding:0">Dapatkan hingga <strong style="color:#555;font-size:14px">50 PUSH gratis</strong>. <a href="http://mandrillapp.com/track/click/30624249/www.bukalapak.com?p=eyJzIjoiR2dkZG12YzdsUG41bW9TT1gyUTBwZkJwUUdRIiwidiI6MSwicCI6IntcInVcIjozMDYyNDI0OSxcInZcIjoxLFwidXJsXCI6XCJodHRwczpcXFwvXFxcL3d3dy5idWthbGFwYWsuY29tXFxcL2ludml0ZVwiLFwiaWRcIjpcIjE4MDBkYWVmY2VjZTQyMDI4ZTMzY2E4NjU3MmZlZWQ1XCIsXCJ1cmxfaWRzXCI6W1wiZTRmNDg5Yjk0MmIwMDBjNTkzM2Y1OThjYjY2Mjc4ZjgwM2YwZDY2M1wiXX0ifQ" style="color:#a30046!important;font-family:&#39;Arial&#39;,sans-serif;font-size:14px;line-height:1.5;margin:0;padding:0;text-decoration:none" target="_blank">Undang teman Anda berjualan</a>!</p>

</div>

</div>
</td>
</tr>
</tbody></table>
<table width="100%" style="border-collapse:collapse;border-spacing:0;margin:0;padding:0">
<tbody><tr>
<td height="50" style="border-collapse:collapse;border-spacing:0;color:#999;font-family:&#39;Arial&#39;,sans-serif;line-height:1.5;margin:0;padding:0"></td>
</tr>
<tr>
<td style="border-collapse:collapse;border-spacing:0;color:#999;font-family:&#39;Arial&#39;,sans-serif;line-height:1.5;margin:0;padding:0">
<p style="color:#555;font-family:&#39;Arial&#39;,sans-serif;font-size:14px;line-height:1.5;margin:0;padding:0">
Terima kasih atas perhatian dan kepercayaan Anda.
</p>
<p style="color:#555;font-family:&#39;Arial&#39;,sans-serif;font-size:14px;line-height:1.5;margin:0;padding:0">
Bantu kami memperbaiki layanan, isi
<a href="http://mandrillapp.com/track/click/30624249/java.typeform.com?p=eyJzIjoiUHI3aDlWTkxKZ3JTeUo0S3Z5RjA2U2Y5S19nIiwidiI6MSwicCI6IntcInVcIjozMDYyNDI0OSxcInZcIjoxLFwidXJsXCI6XCJodHRwczpcXFwvXFxcL2phdmEudHlwZWZvcm0uY29tXFxcL3RvXFxcL3BhUUxlSlwiLFwiaWRcIjpcIjE4MDBkYWVmY2VjZTQyMDI4ZTMzY2E4NjU3MmZlZWQ1XCIsXCJ1cmxfaWRzXCI6W1wiNjYxNjgwOGFjMzViMTI0NWM5OGFhNzhjZDM1ZmE5YjFiZjA3NmI4OFwiXX0ifQ" style="color:#a30046!important;font-family:&#39;Arial&#39;,sans-serif;font-size:14px;line-height:1.5;margin:0;padding:0;text-decoration:none" target="_blank">survey 15 detik ini!</a>
</p>
</td>
</tr>
</tbody></table>


</td>
<td width="15" style="border-collapse:collapse;border-spacing:0;color:#999;font-family:&#39;Arial&#39;,sans-serif;line-height:1.5;margin:0;padding:0"></td>
</tr>
<tr>
<td height="30" width="15" style="border-collapse:collapse;border-spacing:0;color:#999;font-family:&#39;Arial&#39;,sans-serif;line-height:1.5;margin:0;padding:0"></td>
<td height="30" width="550" style="border-collapse:collapse;border-spacing:0;color:#999;font-family:&#39;Arial&#39;,sans-serif;line-height:1.5;margin:0;padding:0"></td>
<td height="30" width="15" style="border-collapse:collapse;border-spacing:0;color:#999;font-family:&#39;Arial&#39;,sans-serif;line-height:1.5;margin:0;padding:0"></td>
</tr>
</tbody></table>

</td>
</tr>
<tr>
<td style="border-collapse:collapse;border-spacing:0;color:#999;font-family:&#39;Arial&#39;,sans-serif;line-height:1.5;margin:0;padding:0">
<table align="left" width="100%" style="background:#f0f0f0;border-collapse:collapse;border-spacing:0;font-size:12px;margin:0;padding:0" bgcolor="#f0f0f0">
<tbody><tr>
<td height="5" width="15" style="border-collapse:collapse;border-spacing:0;color:#999;font-family:&#39;Arial&#39;,sans-serif;line-height:1.5;margin:0;padding:0"></td>
<td height="5" width="24" style="border-collapse:collapse;border-spacing:0;color:#999;font-family:&#39;Arial&#39;,sans-serif;line-height:1.5;margin:0;padding:0"></td>
<td height="5" width="10" style="border-collapse:collapse;border-spacing:0;color:#999;font-family:&#39;Arial&#39;,sans-serif;line-height:1.5;margin:0;padding:0"></td>
<td height="5" width="516" style="border-collapse:collapse;border-spacing:0;color:#999;font-family:&#39;Arial&#39;,sans-serif;line-height:1.5;margin:0;padding:0"></td>
<td height="5" width="15" style="border-collapse:collapse;border-spacing:0;color:#999;font-family:&#39;Arial&#39;,sans-serif;line-height:1.5;margin:0;padding:0"></td>
</tr>
<tr>
<td width="15" style="border-collapse:collapse;border-spacing:0;color:#999;font-family:&#39;Arial&#39;,sans-serif;line-height:1.5;margin:0;padding:0"></td>
<td height="26" width="24" style="border-collapse:collapse;border-spacing:0;color:#999;font-family:&#39;Arial&#39;,sans-serif;line-height:1.5;margin:0;padding:0">
<img alt="Hati-hati" src="https://www.bukalapak.com/images/icon_warning.png" style="border:0 none;min-height:auto;line-height:100%;outline:none;text-decoration:none">
</td>
<td width="10" style="border-collapse:collapse;border-spacing:0;color:#999;font-family:&#39;Arial&#39;,sans-serif;line-height:1.5;margin:0;padding:0"></td>
<td align="left" width="516" style="border-collapse:collapse;border-spacing:0;color:#999;font-family:&#39;Arial&#39;,sans-serif;line-height:1.5;margin:0;padding:0">
<p style="color:#999;font-family:&#39;Arial&#39;,sans-serif;line-height:1.5;margin:0;padding:0">
Harap tidak menginformasikan
<b>
nomor kontak, alamat e-mail, atau password
</b>
Anda kepada siapapun, termasuk pihak yang mengatasnamakan Bukalapak.
</p>
</td>
<td width="15" style="border-collapse:collapse;border-spacing:0;color:#999;font-family:&#39;Arial&#39;,sans-serif;line-height:1.5;margin:0;padding:0"></td>
</tr>
<tr>
<td height="5" width="15" style="border-collapse:collapse;border-spacing:0;color:#999;font-family:&#39;Arial&#39;,sans-serif;line-height:1.5;margin:0;padding:0"></td>
<td height="5" width="24" style="border-collapse:collapse;border-spacing:0;color:#999;font-family:&#39;Arial&#39;,sans-serif;line-height:1.5;margin:0;padding:0"></td>
<td height="5" width="10" style="border-collapse:collapse;border-spacing:0;color:#999;font-family:&#39;Arial&#39;,sans-serif;line-height:1.5;margin:0;padding:0"></td>
<td height="5" width="516" style="border-collapse:collapse;border-spacing:0;color:#999;font-family:&#39;Arial&#39;,sans-serif;line-height:1.5;margin:0;padding:0"></td>
<td height="5" width="15" style="border-collapse:collapse;border-spacing:0;color:#999;font-family:&#39;Arial&#39;,sans-serif;line-height:1.5;margin:0;padding:0"></td>
</tr>
</tbody></table>

</td>
</tr>
<tr>
<td style="border-collapse:collapse;border-spacing:0;color:#999;font-family:&#39;Arial&#39;,sans-serif;line-height:1.5;margin:0;padding:0">
<table width="100%" style="border-collapse:collapse;border-spacing:0;margin:0;padding:0">
<tbody><tr>
<td height="30" style="border-collapse:collapse;border-spacing:0;color:#999;font-family:&#39;Arial&#39;,sans-serif;line-height:1.5;margin:0;padding:0"></td>
</tr>
<tr>
<td style="border-collapse:collapse;border-spacing:0;color:#999;font-family:&#39;Arial&#39;,sans-serif;line-height:1.5;margin:0;padding:0">
<table align="left" style="border-collapse:collapse;border-spacing:0;font-size:11px;line-height:1.7;margin:0;padding:0;text-align:left" width="300">
<tbody><tr>
<td style="border-collapse:collapse;border-spacing:0;color:#999;font-family:&#39;Arial&#39;,sans-serif;line-height:1.5;margin:0;padding:0">
<p style="color:#999;font-family:&#39;Arial&#39;,sans-serif;line-height:1.5;margin:0;padding:0">
Copyright © 2016 PT. Bukalapak.com. All Rights Reserved
</p>
<p style="color:#999;font-family:&#39;Arial&#39;,sans-serif;line-height:1.5;margin:0;padding:0">
Plaza City View Lt 1. Jl. Kemang Timur No. 22.
</p>
<p style="color:#999;font-family:&#39;Arial&#39;,sans-serif;line-height:1.5;margin:0;padding:0">
Jakarta Selatan. Indonesia. 12510
</p>
</td>
</tr>
<tr>
<td height="15" style="border-collapse:collapse;border-spacing:0;color:#999;font-family:&#39;Arial&#39;,sans-serif;line-height:1.5;margin:0;padding:0"></td>
</tr>
<tr>
<td style="border-collapse:collapse;border-spacing:0;color:#999;font-family:&#39;Arial&#39;,sans-serif;line-height:1.5;margin:0;padding:0">
<p style="color:#999;font-family:&#39;Arial&#39;,sans-serif;line-height:1.5;margin:0;padding:0">
Customer Support:
<a href="http://mandrillapp.com/track/click/30624249/www.bukalapak.com?p=eyJzIjoieVRqMUQtdFlYVFVwYzU4Z1ZpbHJhM05oc3BzIiwidiI6MSwicCI6IntcInVcIjozMDYyNDI0OSxcInZcIjoxLFwidXJsXCI6XCJodHRwczpcXFwvXFxcL3d3dy5idWthbGFwYWsuY29tXFxcL3N1cHBvcnRzXFxcL2NvbnRhY3RfdXNcIixcImlkXCI6XCIxODAwZGFlZmNlY2U0MjAyOGUzM2NhODY1NzJmZWVkNVwiLFwidXJsX2lkc1wiOltcImU0ZjQ4OWI5NDJiMDAwYzU5MzNmNTk4Y2I2NjI3OGY4MDNmMGQ2NjNcIl19In0" style="color:#a30046!important;font-family:&#39;Arial&#39;,sans-serif;line-height:1.5;margin:0;padding:0;text-decoration:none" target="_blank">Hubungi Bukalapak</a>
</p>
<p style="color:#999;font-family:&#39;Arial&#39;,sans-serif;line-height:1.5;margin:0;padding:0">
Call Center: 1500-350
</p>
</td>
</tr>
</tbody></table>
<table align="right" width="250" style="border-collapse:collapse;border-spacing:0;font-size:11px;line-height:1.7;margin:0;padding:0;text-align:right">
<tbody><tr>
<td style="border-collapse:collapse;border-spacing:0;color:#999;font-family:&#39;Arial&#39;,sans-serif;line-height:1.5;margin:0;padding:0">
<ul style="list-style:none;margin:0;padding:0">
<li style="display:inline-block">
<a href="http://mandrillapp.com/track/click/30624249/play.google.com?p=eyJzIjoiMlRZWncwMVRlVkVaYmdLVjVBU2ZheWpuUl9ZIiwidiI6MSwicCI6IntcInVcIjozMDYyNDI0OSxcInZcIjoxLFwidXJsXCI6XCJodHRwczpcXFwvXFxcL3BsYXkuZ29vZ2xlLmNvbVxcXC9zdG9yZVxcXC9hcHBzXFxcL2RldGFpbHM_aWQ9Y29tLmJ1a2FsYXBhay5hbmRyb2lkXCIsXCJpZFwiOlwiMTgwMGRhZWZjZWNlNDIwMjhlMzNjYTg2NTcyZmVlZDVcIixcInVybF9pZHNcIjpbXCJhZGEyYzFiZjNlZWYwMDI0NzAzYjJiNTdmMmNmMjc3YTU2MDIyYjU1XCJdfSJ9" style="color:#a30046!important;font-family:&#39;Arial&#39;,sans-serif;line-height:1.5;margin:0;padding:0;text-decoration:none" target="_blank"><img alt="Download Aplikasi Android Bukalapak" src="https://www.bukalapak.com/images/mailer/simplify_template/downloadAndroid.png" style="border:0 none;min-height:33px;line-height:100%;outline:none;text-decoration:none;width:100px">
</a>
</li>
<li style="display:inline-block">
<a href="http://mandrillapp.com/track/click/30624249/itunes.apple.com?p=eyJzIjoia2dGZ2Ztb1haY0p6VTFWVmJUZ1MwSGtxS3U4IiwidiI6MSwicCI6IntcInVcIjozMDYyNDI0OSxcInZcIjoxLFwidXJsXCI6XCJodHRwczpcXFwvXFxcL2l0dW5lcy5hcHBsZS5jb21cXFwvYXBwXFxcL2lkMTAwMzE2OTEzN1wiLFwiaWRcIjpcIjE4MDBkYWVmY2VjZTQyMDI4ZTMzY2E4NjU3MmZlZWQ1XCIsXCJ1cmxfaWRzXCI6W1wiZTdjY2M1Y2ZmNDEwZmI3MjFkNDEyODY0YTM0NzNkNzcxYmY2OTQyNVwiXX0ifQ" style="color:#a30046!important;font-family:&#39;Arial&#39;,sans-serif;line-height:1.5;margin:0;padding:0;text-decoration:none" target="_blank"><img alt="Download Aplikasi iOS Bukalapak" src="https://www.bukalapak.com/images/mailer/simplify_template/downloadIos.png" style="border:0 none;min-height:33px;line-height:100%;outline:none;text-decoration:none;width:100px">
</a>
</li>
</ul>
</td>
</tr>
<tr>
<td height="10" style="border-collapse:collapse;border-spacing:0;color:#999;font-family:&#39;Arial&#39;,sans-serif;line-height:1.5;margin:0;padding:0"></td>
</tr>
<tr>
<td style="border-collapse:collapse;border-spacing:0;color:#999;font-family:&#39;Arial&#39;,sans-serif;line-height:1.5;margin:0;padding:0">
<ul style="list-style:none;margin:0;padding:0">
<li style="display:inline-block">
<a href="http://mandrillapp.com/track/click/30624249/facebook.com?p=eyJzIjoiaGphMnUwV2otR2RVZElNSFJQYWdhaFFfNzFZIiwidiI6MSwicCI6IntcInVcIjozMDYyNDI0OSxcInZcIjoxLFwidXJsXCI6XCJodHRwOlxcXC9cXFwvZmFjZWJvb2suY29tXFxcL2J1a2FsYXBha1wiLFwiaWRcIjpcIjE4MDBkYWVmY2VjZTQyMDI4ZTMzY2E4NjU3MmZlZWQ1XCIsXCJ1cmxfaWRzXCI6W1wiMjUxNjc3ODM4N2Q2NjM1YjEwMmRjZjI1NzkxODE3MTcxNDYwNTQ2OVwiXX0ifQ" style="color:#a30046!important;font-family:&#39;Arial&#39;,sans-serif;line-height:1.5;margin:0;padding:0;text-decoration:none" target="_blank"><img alt="Facebook Bukalapak" src="https://www.bukalapak.com/images/mailer/simplify_template/facebook.png" style="border:0 none;min-height:24px;line-height:100%;outline:none;text-decoration:none;width:24px">
</a>
</li>
<li style="display:inline-block">
<a href="http://mandrillapp.com/track/click/30624249/twitter.com?p=eyJzIjoiSGZhd25oSEVzTmlJQXhQck0zQTdUWVQ0QjBrIiwidiI6MSwicCI6IntcInVcIjozMDYyNDI0OSxcInZcIjoxLFwidXJsXCI6XCJodHRwOlxcXC9cXFwvdHdpdHRlci5jb21cXFwvYnVrYWxhcGFrXCIsXCJpZFwiOlwiMTgwMGRhZWZjZWNlNDIwMjhlMzNjYTg2NTcyZmVlZDVcIixcInVybF9pZHNcIjpbXCI4NTk5YTBhMTc5MDU0YmEzNzBmMzkwZDUyMmMzNWI5ODkzMTgwMjA2XCJdfSJ9" style="color:#a30046!important;font-family:&#39;Arial&#39;,sans-serif;line-height:1.5;margin:0;padding:0;text-decoration:none" target="_blank"><img alt="Twitter Bukalapak" src="https://www.bukalapak.com/images/mailer/simplify_template/twitter.png" style="border:0 none;min-height:24px;line-height:100%;outline:none;text-decoration:none;width:24px">
</a>
</li>
<li style="display:inline-block">
<a href="http://mandrillapp.com/track/click/30624249/plus.google.com?p=eyJzIjoiTWZPYjJ3MTFmTkhRbHhxMV90aExkWnhRaklRIiwidiI6MSwicCI6IntcInVcIjozMDYyNDI0OSxcInZcIjoxLFwidXJsXCI6XCJodHRwOlxcXC9cXFwvcGx1cy5nb29nbGUuY29tXFxcLytidWthbGFwYWtcIixcImlkXCI6XCIxODAwZGFlZmNlY2U0MjAyOGUzM2NhODY1NzJmZWVkNVwiLFwidXJsX2lkc1wiOltcImVlNmRhMWZiZjlkMmE3NGIxYjExY2U1NzJmMTk0YTI3YTM3ZjRiNmVcIl19In0" style="color:#a30046!important;font-family:&#39;Arial&#39;,sans-serif;line-height:1.5;margin:0;padding:0;text-decoration:none" target="_blank"><img alt="Google+ Bukalapak" src="https://www.bukalapak.com/images/mailer/simplify_template/googlePlus.png" style="border:0 none;min-height:24px;line-height:100%;outline:none;text-decoration:none;width:24px">
</a>
</li>
<li style="display:inline-block">
<a href="http://mandrillapp.com/track/click/30624249/www.youtube.com?p=eyJzIjoiblJJRjg0SFpraTJRQnIyLTVBUXhGSHgwbVZvIiwidiI6MSwicCI6IntcInVcIjozMDYyNDI0OSxcInZcIjoxLFwidXJsXCI6XCJodHRwczpcXFwvXFxcL3d3dy55b3V0dWJlLmNvbVxcXC91c2VyXFxcL2J1a2FsYXBha1wiLFwiaWRcIjpcIjE4MDBkYWVmY2VjZTQyMDI4ZTMzY2E4NjU3MmZlZWQ1XCIsXCJ1cmxfaWRzXCI6W1wiMGEyNjkzY2Q2NzNhNzllN2I1M2E4YzJmZjI1MThjOTM5M2U3OGZhYlwiXX0ifQ" style="color:#a30046!important;font-family:&#39;Arial&#39;,sans-serif;line-height:1.5;margin:0;padding:0;text-decoration:none" target="_blank"><img alt="Youtube Bukalapak" src="https://www.bukalapak.com/images/mailer/simplify_template/youtube.png" style="border:0 none;min-height:24px;line-height:100%;outline:none;text-decoration:none;width:24px">
</a>
</li>
<li style="display:inline-block">
<a href="http://mandrillapp.com/track/click/30624249/instagram.com?p=eyJzIjoiTU9GWXYyaVJKYW01aGVlcXRCT1FSWFozRENJIiwidiI6MSwicCI6IntcInVcIjozMDYyNDI0OSxcInZcIjoxLFwidXJsXCI6XCJodHRwczpcXFwvXFxcL2luc3RhZ3JhbS5jb21cXFwvYnVrYWxhcGFrXFxcL1wiLFwiaWRcIjpcIjE4MDBkYWVmY2VjZTQyMDI4ZTMzY2E4NjU3MmZlZWQ1XCIsXCJ1cmxfaWRzXCI6W1wiNWEyNmRkZDRlYzBlMzM0ZjZiNWViMDcxNzkyMjEwY2Q0YmM2OTM3OVwiXX0ifQ" style="color:#a30046!important;font-family:&#39;Arial&#39;,sans-serif;line-height:1.5;margin:0;padding:0;text-decoration:none" target="_blank"><img alt="Instagram Bukalapak" src="https://www.bukalapak.com/images/mailer/simplify_template/instagram.png" style="border:0 none;min-height:24px;line-height:100%;outline:none;text-decoration:none;width:24px">
</a>
</li>
</ul>
</td>
</tr>
</tbody></table>
</td>
</tr>
<tr>
<td height="15" style="border-collapse:collapse;border-spacing:0;color:#999;font-family:&#39;Arial&#39;,sans-serif;line-height:1.5;margin:0;padding:0"></td>
</tr>
</tbody></table>

</td>
</tr>
<tr>
<td style="border-collapse:collapse;border-spacing:0;color:#999;font-family:&#39;Arial&#39;,sans-serif;line-height:1.5;margin:0;padding:0">
<table width="100%" style="border-collapse:collapse;border-spacing:0;border-top-color:#ccc;border-top-style:solid;border-top-width:2px;margin:0;padding:0;table-layout:fixed">
<tbody><tr>
<td height="2" style="border-collapse:collapse;border-spacing:0;color:#999;font-family:&#39;Arial&#39;,sans-serif;line-height:1.5;margin:0;padding:0"></td>
</tr>
</tbody></table>
</td>
</tr>
<tr>
<td style="border-collapse:collapse;border-spacing:0;color:#999;font-family:&#39;Arial&#39;,sans-serif;line-height:1.5;margin:0;padding:0">
<table width="100%" style="border-collapse:collapse;border-spacing:0;font-size:10px;margin:0;padding:0;text-align:center">
<tbody><tr>
<td height="10" style="border-collapse:collapse;border-spacing:0;color:#999;font-family:&#39;Arial&#39;,sans-serif;line-height:1.5;margin:0;padding:0"></td>
</tr>
<tr>
<td style="border-collapse:collapse;border-spacing:0;color:#999;font-family:&#39;Arial&#39;,sans-serif;line-height:1.5;margin:0;padding:0">
<p style="color:#999;font-family:&#39;Arial&#39;,sans-serif;line-height:1.5;margin:0;padding:0">
Anda memperoleh e-mail ini karena keanggotaan Anda pada Bukalapak.com. Anda bisa mengubah
<a href="http://mandrillapp.com/track/click/30624249/www.bukalapak.com?p=eyJzIjoiRmtFOFVmTHpBazVXU21XZzViendkeTFoMk5FIiwidiI6MSwicCI6IntcInVcIjozMDYyNDI0OSxcInZcIjoxLFwidXJsXCI6XCJodHRwczpcXFwvXFxcL3d3dy5idWthbGFwYWsuY29tXFxcL25vdGlmaWNhdGlvbl9zZXR0aW5nc1wiLFwiaWRcIjpcIjE4MDBkYWVmY2VjZTQyMDI4ZTMzY2E4NjU3MmZlZWQ1XCIsXCJ1cmxfaWRzXCI6W1wiZTRmNDg5Yjk0MmIwMDBjNTkzM2Y1OThjYjY2Mjc4ZjgwM2YwZDY2M1wiXX0ifQ" style="color:#a30046!important;font-family:&#39;Arial&#39;,sans-serif;line-height:1.5;margin:0;padding:0;text-decoration:none" target="_blank">pengaturan notifikasi</a>
kapanpun.
</p>
</td>
</tr>
<tr>
<td height="5" style="border-collapse:collapse;border-spacing:0;color:#999;font-family:&#39;Arial&#39;,sans-serif;line-height:1.5;margin:0;padding:0"></td>
</tr>
<tr>
<td style="border-collapse:collapse;border-spacing:0;color:#999;font-family:&#39;Arial&#39;,sans-serif;line-height:1.5;margin:0;padding:0">
<p style="color:#999;font-family:&#39;Arial&#39;,sans-serif;line-height:1.5;margin:0;padding:0">
Harap jangan membalas e-mail ini, karena e-mail ini dikirimkan secara otomatis oleh sistem.
</p>
</td>
</tr>
<tr>
<td height="15" style="border-collapse:collapse;border-spacing:0;color:#999;font-family:&#39;Arial&#39;,sans-serif;line-height:1.5;margin:0;padding:0"></td>
</tr>
</tbody></table>

</td>
</tr>
</tbody></table>
</td>
</tr>
</tbody></table>
</center>
<img src="http://mandrillapp.com/track/open.php?u=30624249&amp;id=1800daefcece42028e33ca86572feed5" height="1" width="1"></div>



</div><br></div>
