{% load staticfiles i18n %}{% spaceless %}<!DOCTYPE html>
<html lang="en" ng-app>
<head>
  <meta charset="utf-8">
  <title>{% block title %}affiliate{% endblock title %}</title>

	<meta property="og:url" content="http://www.aybud.com/products/" />
	<meta property="og:type" content="website" />
	<meta property="og:title" content="Database products" />
	<meta property="og:description" content="Database Bukalapak, Tokopedia, Lazada.... temukan produk-produk yang bisa menghasilkan uang dengan mudah" />
	<meta property="og:image" content="http://www.aybud.com/static/images/imgpsh_fullsize.png" />


  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Database Bukalapak, Tokopedia, Lazada.... temukan produk-produk yang bisa menghasilkan uang dengan mudah">
  <meta name="author" content="">

  <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    {% block css %}
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}" />

    <!-- Optional theme -->
    <link rel="stylesheet" href="{% static "css/bootstrap-theme.min.css" %}" />

    <!-- Your stuff: Third-party css libraries go here -->

    <!-- This file store project specific CSS -->
    <link href="{% static 'css/project.css' %}" rel="stylesheet">
    {% endblock %}

    {% comment %}
    {% block angular %}
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.9/angular.min.js"></script>
    {% endblock %}
    {% endcomment %}

    <!-- Google Analytics Script -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-85349376-1', 'auto');
      ga('send', 'pageview');

    </script>
</head>

<body>

    <nav class="navbar navbar-default navbar-i_nverse  navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/"><span class="glyphicon glyphicon glyphicon-shopping-cart _glyphicon-home"></span> Products</a>
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigationbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
    
            {% comment %}
            {# TODO use form in the navigationbar instead of form in jumbotron #}
            <form class="navbar-form navbar-left" role="search">
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Search">
                </div>
                <button type="submit" class="btn btn-default">Search</button>
            </form>
            {% endcomment %}
            <div class="collapse navbar-collapse" id="navigationbar">
                <ul class="nav navbar-nav">
                    {% if user.is_staff %}
                    <li><a class="glyphicon glyphicon-stats" href="{% url 'products:selling_speed' %}"> Selling</a></li>
                    {% endif %}
                </ul>
                <ul class="nav navbar-nav pull-right">
                    {% if request.user.is_authenticated %}
                        <li class="dropdown">
                            <a href="#"
                                class="dropdown-toggle glyphicon glyphicon-user"
                                data-toggle="dropdown"
                                role="button"
                                aria-haspopup="true"
                                aria-expanded="false"> {{ user.username }} </a>
                            <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
                                {% if request.user.is_superuser %}
                                    <li><a href="/admin/" target="_balnk">Admin</a></li>
                                {% endif %}
                                {# <li><a href="#">some piece of Action</a></li> #}
                                <li role="separator" class="divider"></li>
                                <li><a class="glyphicon glyphicon-log-out" href="{% url 'users:logout_confirm' %}"> Logout</a></li>
                            </ul>
                        </li> <!-- dropdown li -->
                    {% else %}
                        <li class="dropdown">
                            <a href="#"
                                class="dropdown-toggle glyphicon glyphicon-log-in"
                                data-toggle="dropdown"
                                role="button"
                                aria-haspopup="true"
                                aria-expanded="false"> Login</a>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                <li><a class="glyphicon glyphicon-log-in" href="{% url 'users:login' %}"> Login</a></li>
                            </ul>
                        </li>
                    {% endif %}
                </ul>
             </div>
         </div>
    </nav> 
    
    {% comment %}
    {# TODO check if following commented lines are needed #}
    <ul class="nav navbar-nav">
      {% if not request.tenant.schema_name == "public" %}
        {% block Navigator%}
            <a class="navbar-brand" href="{% url 'products:list' %}">{% trans 'Products' %}</a>
            {% if request.user.is_staff and request.tenant %}
              <a class="navbar-brand" href="{% url 'users:ListUsers' %}">{% trans "Users" %}</a>
              <a class="navbar-brand" href="{% url 'ecmanager:providers-list' %}">Providers</a>
              <a class="navbar-brand" href="{% url 'ecmanager:orders-list' %}">Orders</a>
              <a class="navbar-brand" href="{% url 'ecmanager:ListAds' %}">Ads</a>
            {% endif %}
        {% endblock %}
      {% endif %}
    </ul>
    {% endcomment%}

  <div class="container">

    {% block messages %}
    {% for message in messages %}
    <div class="alert alert-dismissable fade in alert-{{ message.tags }}">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <p>{{message}}</p>
    </div>
    {% endfor %}
    {% endblock messages %}

<div style="text-align: center;">
    <div class="fb-share-button" data-href="http://aybud.com/products/" data-layout="box_count" data-size="large" data-mobile-iframe="true">
        <a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%aybud.com%2Fproducts%2F&amp;src=sdkpreparse">Поделиться</a>
    </div>
    <h1>{% trans 'Apa Yang Bagus Untuk Dijual' %}</h1><br>
</div>
   {% block content %}
      <p>Use this document as a way to quick start any new project.</p>
    {% endblock content %}

  </div> <!-- /container -->

  {% block modal %}{% endblock modal %}

  <!-- Placed at the end of the document so the pages load faster -->
  {% block javascript %}
  <!-- Latest JQuery -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

  <!-- Latest compiled and minified JavaScript -->
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  {% endblock javascript %}

  {% block extra_js %}
    <!-- Your stuff: Third-party javascript libraries go here -->
  {% endblock %}

  <!-- place project specific Javascript in this file -->
  <script src="{% static 'js/project.js' %}"></script>

    <!-- FB share-->
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

</body>
</html>{% endspaceless %}
