{% extends "common/base.html" %}
{% load i18n static %}

{% block title %}Create{% endblock title %}

{% block content %}
    <div class="row">
        <form method="POST" action=".">
            {% csrf_token %}
            <table class="table">
                <tbody>
                    {{ form.as_table }}
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="2">
                            <input type="hidden" name="next" value="{{ next }}" />
                            <input type="submit" class="btn btn-primary" value="Create" />
                        </td>
                    </tr>
                </tfoot>
            </table>
        </form>
    </div>

{% endblock %}

{% block extra_js %}
    <script type="text/javascript" src="{% static 'ecmanager/select_and_populate.js' %}"></script>
{% endblock %}
