{% extends "common/list.html" %}
{% load i18n %}

{% block title %}Orders{% endblock title %}

{% block createNewItem %}
	{% if request.user.is_staff %}
		<a href='/users/signup/'>create user</a>
	{% endif %}
{% endblock %}

{% block fieldTitles %}
  <td>name</td>
  <td>email</td>
  <td>award</td>
  <td>{% trans 'Update' %}</td>
  <td>{% trans 'Delete' %}</td>
{% endblock %}

{% block fieldContent %}
    {% for user in users %}
    <tr>
      <td>{{ user.username}}{% if user.is_staff %}(staff){% endif %}</td>
      <td>{{ user.email}}</td>
      <td>{{ user.award}}</td>
      <td> <a href='/users/UpdateUser/{{user.id}}/'>{% trans 'Update' %}</a> </td>
      <td> <a href='/users/DeleteUser/{{user.id}}/'>{% trans 'Delete' %}</a> </td>
    </tr>
    {% endfor %}
{% endblock %}
