{% extends "common/base.html" %}

{% load i18n %}

{% block title %}{% trans "Logout" %}{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-5">

        <h2>{% trans "Logout" %}</h2>

        <p>{% trans 'Are you sure you want to logout?' %}</p>

        <form method="post" action="{% url 'users:logout' %}">
          {% csrf_token %}
          <input type="hidden" name="next" value="{% url 'products:list' %}"/>
          <button class="btn btn-danger" type="submit">{% trans 'Logout' %}</button>
        </form>
    </div>
  </div>
</div>

{% endblock %}
